nav.navbar.navbar-default.navbar-static-top.custom-navbar.header-navbar
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#topbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.primary-font-color.logo(href='/')
        i.fa.fa-book
        |  LibreScan
      #topbar-collapse(data-role='collapsible')
      ul.nav.navbar-nav

    select#select-guides(data-placeholder='true', data-native-menu="false")
      option
          a(href='#')=  _('tb_guides')
      option(value='how_to_scan')
          a(href='#')= _('tb_how_to_scan')
      option(value='chdk_installation')
          a(href='#')= _('tb_chdk_installation')
      option(value='set_scanner')
          a(href='#')= _('tb_set_scanner')


    select#select-languages(data-placeholder='true', data-native-menu="false")
      option
          a(href='#')=  _('tb_languages')
      option(value='spanish_lang')
          a(href='/language/spa')= _('tb_spanish_lang')
      option(value='english_lang')
          a(href='/language/en')= _('tb_english_lang')
      option(value='portuguese_lang')
          a(href='/language/pt', disabled='disabled')= _('tb_portuguese_lang')
      option(value='guarani_lang')
          a(href='/language/gn', disabled='disabled')= _('tb_guarani_lang')


    .ui-content
        a.ui-btn(href='/contact')= _('tb_contact_us')
    .ui-content
        a.ui-btn(href='/about')= _('tb_about_us')






